*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f5f5f5;
    ;
}

.bold {
    font-weight: 700;
}

p {
    margin: 0;
}

.top-text {
    margin-left: 8px;
}

.post-text {
    margin-bottom: 10px;
}

.container {
    width: 400px;
    margin: 0 auto;
    background-color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    background-color: #fff;
}

section {
    margin: 10px;
}

.main-post-text {
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.top {
    display: flex;
    align-items: center;
}

.logo {
    width: 130px;
}

.avatar {
    width: 34px;
    border-radius: 50%;
}

.main-img {
    width: 100%;
}

.icon {
    width: 25px;
    opacity: 50%;
    margin-right: 15px;
}

.icon:hover,
.icon:focus {
    opacity: 100%;
}